
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');
/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    /* allow it to stretch larger than the height of the
screen when there is enough content on the page that the user needs to scroll. */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: black;
    font-family:lato, sans-serif
}


/* Header */
header {
    background-color: white;
    padding: 0 1rem; /* prevents the text from sticking to the side */
    position: fixed; /* Fixed the nav bar to the top of the page */ 
    color: black;
    z-index: 99; /* Ensures the nav bar is on top of other elements */
    width: 100%; /* Ensures the nav bar spans the full width of the page */
    box-shadow: 0 2px 2px black; /* Adds a shadow to the nav bar, bottom shadow, blur, black */
}   


h1 {
    font-family: 'Oswald', sans-serif;
    
}
/* Main content */
main {
    background-color: rgb(230, 244, 248);
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
}

/* Footer */
footer {
    background-color: grey;
    color: white;
}