
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');
/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
     min-height: 100vh;    /* allow it to stretch larger than the height of the
    screen when there is enough content on the page that the user needs to scroll. */
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: black;
    font-family:lato, sans-serif
}

h1, h2, h3 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase; 
  letter-spacing: 2px;
  color: #252525;
  }


/* Header */
header {
    background-color: white;
    padding: 0 1rem; /* prevents the text from sticking to the side */
    position: fixed; /* Fixed the nav bar to the top of the page */ 
    color: black;
    z-index: 99; /* Ensures the nav bar is on top of other elements */
    width: 100%; /* Ensures the nav bar spans the full width of the page */
    box-shadow: 0 2px 2px black; /* Adds a shadow to the nav bar, bottom shadow, blur, black */
    display: flex;
    justify-content: space-between; /* Aligns the logo and nav items to the left and right of the nav bar */
    align-items: baseline; /* Aligns the logo and nav items to the vertical center of the nav bar */
}   

header a {
    color: inherit;
    text-decoration: none; /* Removes underline from links */
   }


/* Navigation */
#menu {
    font-size: 110%;
    letter-spacing: 4px; /* Adds space between the letters of the nav items */
    list-style-type: none; /* Removes bullet points from unordered list */
    /* display: flex; 
    justify-content: space-between;
    align-items: center;
   height: 5rem;*
   add this to make the nav bar  horizontal*/
 }

/* menu argets the elements inside nav, but only the list, so the 3 elements*/
 #menu >li {    
    margin-bottom: 1rem; /* Adds space between the list items */
    margin: 0 1rem; /* Adds space between the list items
    padding: 1rem; /* Adds padding to the list items
    transition: background-color 0.3s; /* Smoothly changes the background color of the list items */
  }

  .active {
    border-bottom: 1px solid black; /* Adds a border(underlines) to the bottom of the active list item */
  }

  /* Navbar styles with dropdown toggle */
  nav {
    position: absolute; /* Allows the dropdown to be positioned relative to the nav bar */
    background-color: inherit; /* Makes the dropdown background the same as the nav bar */
    width: 100%;
    left: 0; /* Aligns the dropdown to the left of the nav bar */
    padding: 0 1rem;
    box-shadow: inherit;
    display: none; /* Hides the dropdown by default */
    z-index: 98; /* Ensures the dropdown is on top of other elements */
    top: 100%; /* Aligns the dropdown to the bottom of the nav bar */
  }
/* Nav toggle. */
/* The ~ indicates that we want to target the adjoining nav element.  */
#nav-toggle:checked~nav {
    display: block; /* Shows the dropdown when the checkbox is checked */
      }

#nav-toggle {
    display: none; /* Hides the checkbox */
    
      }
#nav-toggle-label {
    font-size: 2rem; /* Increases the size of the hamburger icon */
      } 

main {
  /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 47px; /* Pushes the main content down to prevent it from being hidden by the nav bar */
}
/* Hero section image and text*/
#hero {
  height: 600px;
  width: 100%;
  background: url("../images/hero-image.webp") no-repeat center center/cover; /* centers horizontaly first and vertically  and covers entire hero section */
  position: relative; /* it establishes itself as the positioning context for any absolutely positioned child elements within it, like #cover-text child. In this case, #hero becomes the reference point for positioning any of its child elements. */
}

#cover-text {
  background-color: palevioletred; /* if aaded: , .8; Adds a pink background color with 80% opacity */
  opacity: 0.8; /* Adds transparency of 80% to the background color */
  font-size: 130%;
  position: absolute; /* Adds independent positioning from #hero. you must indicate coordinates, see next */
  bottom: 30px; /* Adds space from the bottom of the hero section */
  width: 80%; /* Makes the text 80% of the width of the hero section */
  min-height: 180px; /* Sets a minimum height for the text */
  padding-top: 40px; /* Adds space above the text */
  padding-left: 10px;
}
/* Adds specificity. Targets direct children of cover-text instead of all descendants.  */
#cover-text > h2, #cover-text > h3 {
  color: white;
}

/* Main */
#reasons {
  margin: 20px auto; /* hight and Centers the reasons section */
  width: 90%;
}
#reasons h2 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 280%;
}
#benefits-physical> div, #benefits-mental> div{
  line-height: 20px;  /* Adds space between the benefits */
 margin-bottom: 20px; /* Adds space below the benefits */
}

#benefits p {
padding: 0 20px; /* Adds 0 space up and down, adds right and left around the benefits */
}

hr {
  border-top: 1px solud black; /* Adds a solid black line above and below the hr element */
  margin: 5px 0; /* Adds space above and below the hr element */
}

#circle-cover-bg {
  background: url("../images/reasons-image.webp") no-repeat top center/cover; /* Centers the image horizontally and vertically and covers the entire section */
  height: 90vw; /* Sets the height of the section to 90% of the viewport width */
  width: 90vw; /* Sets the width of the section to 90% of the viewport width */
  margin-bottom: 20px; /* Adds space below the section */
  border-radius: 50%; /* Makes a circle. Rounds the corners of the section */
  max-width: 300px;
  max-height: 300px;
}

#benefits-image {
  display: flex; /* Aligns the benefits image and text to the center of the section */
  align-items: center;  /* Aligns vertically the benefits image and text to the center of the section */
  justify-content: center; /* Aligns horizontally the benefits image and text to the center of the section */
}

/* Footer */
#social-networks {
  text-align: center;
  padding: 20px 0; /* Adds space above and below the social network icons */
  display: flex; /* Aligns the social network icons to the center of the footer */
  justify-content: space-evenly;  /* Aligns the social network icons to the center of the footer */
  list-style-type: none;      /* Removes bullet points from unordered list */
}

#social-networks i {
  font-size: 150%;
  padding: 5%; /* Adds space around the social network icons */
  color: black; /* Changes the color of the social network icons */
}


/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
  /* Header */
  nav {
      display: block;
      position: relative;
      box-shadow: none;
      width: fit-content;
      padding-right: 1rem;
  }

  #menu {
      display: flex;
  }

  #menu > li {
      padding-left: 1rem;
  }

  #nav-toggle-label {
      display: none;
  }

  #logo {
    font-size: 280%;
    line-height: 75px; /* Aligns the logo to the vertical center of the nav bar giving extra space at the top */
    margin: 0 0.5rem; /* Adds space to the left and right of the logo */
  }
  
      /* Main content */
    main {
      /* Push main content down to accommodate larger header */
      margin-top: 79px; /* Pushes the main content down to prevent it from being hidden by the nav bar */
    }

    /* Hero */
    #cover-text {
      width: 300px; /* Makes the text 300px of the width of the hero section */
      right: 50px; /* Adds space from the right of the hero section */
    }
}

/* Media query: laptops and larger (992px and up) */
@media screen and (min-width: 992px) {
  /* Header */
#menu a:hover {
  border-bottom: 1px solid black; /* Adds a border to the bottom of the nav bar when hovered */
}




}