
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');
/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
     min-height: 100vh;    /* allow it to stretch larger than the height of the
    screen when there is enough content on the page that the user needs to scroll. */
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: black;
    font-family:lato, sans-serif
}

/* Header */
header {
    background-color: white;
    padding: 0 1rem; /* prevents the text from sticking to the side */
    position: fixed; /* Fixed the nav bar to the top of the page */ 
    color: black;
    z-index: 99; /* Ensures the nav bar is on top of other elements */
    width: 100%; /* Ensures the nav bar spans the full width of the page */
    box-shadow: 0 2px 2px black; /* Adds a shadow to the nav bar, bottom shadow, blur, black */
    display: flex;
    justify-content: space-between; /* Aligns the logo and nav items to the left and right of the nav bar */
    align-items: baseline; /* Aligns the logo and nav items to the vertical center of the nav bar */
}   

header a {
    color: inherit;
    text-decoration: none; /* Removes underline from links */
   }

h1 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase; 
    letter-spacing: 2px;
    color: #252525;
    }

/* Navigation */
#menu {
    font-size: 110%;
    letter-spacing: 4px; /* Adds space between the letters of the nav items */
    list-style-type: none; /* Removes bullet points from unordered list */
    /* display: flex; 
    justify-content: space-between;
    align-items: center;
   height: 5rem;*
   add this to make the nav bar  horizontal*/
 }

/* menu argets the elements inside nav, but only the list, so the 3 elements*/
 #menu >li {    
    margin-bottom: 1rem; /* Adds space between the list items */
    margin: 0 1rem; /* Adds space between the list items
    padding: 1rem; /* Adds padding to the list items
    transition: background-color 0.3s; /* Smoothly changes the background color of the list items */
  }

  .active {
    border-bottom: 1px solid black; /* Adds a border(underlines) to the bottom of the active list item */
  }

  /* Navbar styles with dropdown toggle */
  nav {
    position: absolute; /* Allows the dropdown to be positioned relative to the nav bar */
    background-color: inherit; /* Makes the dropdown background the same as the nav bar */
    width: 100%;
    left: 0; /* Aligns the dropdown to the left of the nav bar */
    padding: 0 1rem;
    box-shadow: inherit;
    display: none; /* Hides the dropdown by default */
    z-index: 98; /* Ensures the dropdown is on top of other elements */
    top: 100%; /* Aligns the dropdown to the bottom of the nav bar */
  }
/* Nav toggle. */
/* The ~ indicates that we want to target the adjoining nav element.  */
#nav-toggle:checked~nav {
    display: block; /* Shows the dropdown when the checkbox is checked */
      }

#nav-toggle {
    display: none; /* Hides the checkbox */
    
      }
#nav-toggle-label {
    font-size: 2rem; /* Increases the size of the hamburger icon */
      } 

main {
    background-color: rgb(230, 244, 248);
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 47px; /* Pushes the main content down to prevent it from being hidden by the nav bar */
}

/* Footer */
footer {
    background-color: grey;
    color: white;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
  /* Header */
  nav {
      display: block;
      position: relative;
      box-shadow: none;
      width: fit-content;
      padding-right: 1rem;
  }

  #menu {
      display: flex;
  }

  #menu > li {
      padding-left: 1rem;
  }

  #nav-toggle-label {
      display: none;
  }

  #logo {
    font-size: 280%;
    line-height: 75px; /* Aligns the logo to the vertical center of the nav bar giving extra space at the top */
    margin: 0 0.5rem; /* Adds space to the left and right of the logo */
  }
  
  
    /* Main content */
    main {
      /* Push main content down to accommodate larger header */
      margin-top: 79px; /* Pushes the main content down to prevent it from being hidden by the nav bar */
    }


}